*{
  background-color: #ede7f6;
  margin: 0;
  margin: auto;

  width: 640px;

}
.heading{
  text-align:center ;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: -50px;
  border: 2px thin black;
  border-width: thin;
  border-radius: 10px;
  padding: 40px;
  background: white;
}
.Subhead{
  width:max-content;
}
.Disc{
  margin-top: 10px;
  text-align-last: left;
  background-color: white;
}

.Fname{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
}
.Lname{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
}
.Email{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
}
.Year{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
}
#option1 select{
  display: flex;
    flex-direction: column;
    width: 89px;
    margin-left: 0px;
    margin-top: 10px;
    height: 40px;
    display: -webkit-inline-box;
    background-color: white;
    border-style: none;
    border: 1px thin #dadce0;
    border-style: groove;
}
.Dept{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
}
.Rbutton{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
  height: 200px;
  justify-content: center;
}
.Cbox{
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom: 15px;
  border: 2px thin black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-weight: bolder;
  height: 200px;
}
.button{
  display: flex;
  margin-bottom: 50px;
  display: flex;
  width: 675px;
  align-items: flex-end; 
  justify-content: start;
}
.button button{
  width: 100px;
  align-items: flex-start;
  justify-content: end;
  margin-left: 500px;
}
#Sbutton{
  width: 120px;
  height: 40px;
  margin-left: -50px;
  border-radius: 8px;
  background:linear-gradient(90deg,#b500f1,#673ab7);
  font-family:"Google Sans",Roboto,Arial,sans-serif;
  color: #fff;
  cursor: pointer;
}
#Cbutton{
  border-style: none;
  font-size: medium;
  font-family:"Google Sans",Roboto,Arial,sans-serif;
  font-weight: bold;
  color: #b500f1;
  align-items: center;
  padding: 5px;
  width: 60px;
  cursor: pointer;
}
.btn::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 0.175rem;
  background:#b500f1;
  margin-left: -43px;
  margin-top: 20px;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
  transform-origin: right;
}
.btn:hover::after{
  transform: scaleX(1);
  transform-origin: left;
  cursor: pointer;
}
.btn1{
  box-shadow: inset 0 0 0 0 #673ab7;
  transition: ease-out 0.3s;
  outline: none;
  transform-origin: rigth;
}
.btn1:hover{
  transform-origin: left;
  box-shadow: inset 300px 0 0 0 #673ab7;
  cursor: pointer;
  color: #000;
}